<%- include("partials/header") %>


<% let counter = 0 %>

<section id="recipeContainer">
    <h2 >Showing <%= title  %></h2>

    <div id="selectFilter">
        <label for="filter">Filter Recipes</label>
        <select name="Filter" id="filter" onchange="location = this.value;">
            <option value="/api/posts/all">Select:</option>
            <option value="/api/posts/all">All Posts</option>
            <option value="/api/posts/recent">Recent</option>
        </select>
    </div>
 

    <% for (var i =0; i < posts.length; i++) { %>
        <div class="recipeInfo">
            <div>
                <h2><%= posts[i].title  %></h2>
                <div class="postsDes">
                    <img src="/images/<%= posts[i].profilePic %>" alt="<%= posts.author %> head-shot" >
                    <div>
                        <p class="postInfo"><%= posts[i].author %>, <%= posts[i].job %></p>
                        <p class="postInfo"><%= posts[i].date %></p>
                    </div>
                </div>

                <a href="http://localhost:3002/api/post/<%= posts[i]._id %>" class="button">&raquo; VIEW POST</a>
            </div>
        </div>
    <% } %>
 
</section>
  

  <%- include("partials/newsletter_colour") %>

  <%- include("partials/footer") %>
