<%- include("partials/header") %>


  <div>
    <section id="recipeContainer">
    
      <div class="recipeInfo">
        <img src="/images/<%= recipe.img %>" alt="<%= recipe.recipe %> photo">
        <div>
          <h2><%= recipe.recipe %></h2>
          <p><%= recipe.bio %></p>
          <p class="moreInfo">Prep time: 8 hours</p>
          <p class="costP moreInfo">Cost: $$</p>
          <a class="button recipeBtn"> DOWNLOAD</a><br><br><br>
          <a href="/api/recipes/all" class="button recipeBtn">&raquo; VIEW ALL RECIPES</a>
        </div>
      </div>

      
    </section>
  </div>

  

  <%- include("partials/blog") %>

  <%- include("partials/newsletter") %>

  <%- include("partials/footer") %>
