<%- include('partials/header') %>
<%- include("partials/landing") %>

<section id="recipes">
  <h2>OUR RECIPES</h2>

  <div id="recipeBoxes">

      <div class="recipeCon">
          <img src="images/chicken.png" alt="Chicken">
          <a href="/api/recipes/chicken" class="button">CHICKEN</a>
      </div>

      <div class="recipeCon">
          <img src="images/steak.png" alt="BEEF">
          <a href="/api/recipes/beef" class="button">BEEF</a>
      </div>
  

      <div class="recipeCon">
          <img src="images/sausage.png" alt="Pork">
          <a href="/api/recipes/pork" class="button">PORK</a>
      </div>

      <div class="recipeCon">
          <img src="images/fish.png" alt="fish">
          <a href="/api/recipes/fish" class="button">FISH</a>
      </div>
      
  </div>

</section>

<%- include("partials/blog") %>
<%- include("partials/newsletter") %>
<%- include("partials/footer") %>
