<%- include("partials/header") %>

    <section id="landing">
        <div id="landingCon">
            <h2><%= post.title %></h2>
            <img src="/images/<%= post.profilePic %>" alt="<%= post.author %> head-shot" id="editor">
            <p class="postInfo"><%= post.author %>, <%= post.job %></p>
            <p class="postInfo"><%= post.date %></p>

            <div id="postContent">
                <img src="/images/<%= post.img %>" alt="post photo" id="landingImg">
                <p><%= post.post %></p>
            </div>
            
            <a href="/api/posts/all" class="button recipeBtn">&raquo; VIEW ALL POSTS</a>
        </div>
        


    </section>

  <%- include("partials/blog") %>

  <%- include("partials/newsletter") %>

  <%- include("partials/footer") %>
